<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>turf: <?js= title ?></title>
    <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
    <link href='/assets/css/main.css' rel='stylesheet' />
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/rpl-www.css">
</head>

<body>
<div class='limiter'>
  <div class='pad2y'>
  <div class='col10 margin1 clearfix'>
    <div class='round clearfix fill-turf-green dark center'>
        <a href='/'>
          <img
          width=80
          class='logo' href='http://turfjs.org' src='https://raw.githubusercontent.com/Turfjs/turf/9a1d5e8d99564d4080f1e2bf1517ed41d18012fa/logo.png' alt='turf'>
        </a>
      <div class='inline pad2y'>
        <div class='tabs'>
          <a href='/docs/' class='active'>API Docs</a><a href='/examples.html' class=''>Examples</a><a
            href='https://github.com/Turfjs/turf' class='icon github' target="_blank">Source</a>
        </div>
      </div>
    </div>
   <div class='clearfix fill-white'>
      <div class='pad2y clearfix'>
        <div class='col3'>
          <div class='pad1 space-top0'>
            <?js= this.nav ?>
          </div>
        </div>
        <div class='pad1y pad2x col9 fill-white'>
          <div class='prose'>
            <h2><?js= title ?></h2>
            <?js= content ?>
          </div>
        </div>
      </div>
    </div>
    <div class='quiet small center pad1y'>
      Library released under <a href='https://github.com/Turfjs/turf/blob/master/LICENSE'>MIT license</a>.
        &copy; 2014 <a href='https://twitter.com/morganherlocker'>Morgan Herlocker</a>.
    </div>
  </div>
<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
<script src="scripts/run.js"> </script>
</body>
</html>
