<?js
var data = obj || {};
if (data.description) {
?>
<p>
  <?js if (data.type && data.type.names) {?>
      <strong>Returns <?js= this.partial('type.tmpl', data.type.names) ?></strong>
  <?js } ?>
  <?js= description ?>
  <?js } ?>
</p>
