# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
npm-debug.log*

yarn.lock
# ignore jekyll build artifacts
_site
_docs

# ignore generated test file
test/turf.js
