body {
  padding-left: 25%;
  padding-right: 25%;
  padding-top:25px;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.5
}

@media screen and (max-width: 1000px){
  body{
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 765px){
  body{
    padding-left: 5%;
    padding-right: 5%;
  }
}

#description {
  padding-top: 30px;
}

code {
  line-height: 1.2;
  font: 14px;
  padding-left: -30px;
}

.button {
  color: #000;
  text-decoration: none;
  border: 3px solid rgb(0,200,0);
  //padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1
}

.button:hover{
  border: 3px solid rgb(0,160,0);
  z-index: 9999999999
}

.button.pill{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button-group {
  padding-top:25px;
}

.button-group > .button.round:not(:first-child):not(:last-child), .button-group > .button.pill:not(:first-child):not(:last-child){
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.button-group > .button.round:first-child, .button-group > .button.pill:first-child{
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group > .button.round:last-child, .button-group > .button.pill:last-child{
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group .button + .button{
  margin-left:-9px;
}