.pure-g [class*=pure-u]{
  font-family: 'Open Sans', sans-serif;
}

h2, h3, h4, p{
  color: #656565;
}

p, li, .pure-table{
  font-size: 0.9rem;
}

.pure-menu{
  background-color: #2ECC71!important;
  height: 60px;
  position: fixed;
  z-index: 2;
}

.logoHolder{
  width: 20%;
  height: 60px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
}

.logoHolder > a {
  margin-left: -20px;
}

.pure-menu-list{
  width: 80%;
  margin-top: -5px;
}

.pure-menu-link {
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 0px 20px;
  transition: 0.3s;
}

.pure-menu-heading{
  color: white;
  font-weight: 800;
  line-height: 60px;
  font-size: 20px;
  letter-spacing: 2px;
}

.pure-menu-link{
  line-height: 60px;
}

.linkActive{
  background-color: #24af5f;
}

.pure-menu-link:hover, .logoHolder:hover{
  background-color: #20b35e;
}

#github{
  margin-right: 60px;
  float: right;
  border: white solid 3px;
  margin-top: 9px;
}

#github > .pure-menu-link{
  line-height: 35px;
}

.githubLogo{
  width: 20px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

#toc{
  position: fixed;
  top: 60px;
  bottom: 0;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

#toc > div {
  padding: 20px;
}

#sidebarFilter{
  margin: 20px 20px;
  padding: 5px;
  border: solid 3px #efefef;
  color: #656565;
  transition: 0.3s;
  width: 80%;
}

#sidebarFilter:focus{
  outline: none;
  border: solid 3px #cccccc;
}

#toc ul {
  list-style-type: none;
}
#toc li  {
  margin: 5px 0px;
}

#toc li a {
  color: #656565;
  text-decoration: none;
}

.category{
  font-weight: 700;
  text-transform: uppercase;
  margin-left: -15px!important;
  margin-top: 10px!important;
  font-size: 14px;
}

#mainContent {
    position: fixed;
    left: 20%;
    right: 0px;
    top: 60px;
    overflow-y: scroll;
    bottom: 0px;
}

#innerContent {
  margin-top: 20px;
  padding: 60px;
}

.panel{
  background-color: #efefef;
  padding: 20px;
  margin-bottom: 40px;
}

h2 {
  padding-top: 30px;
  margin-top: -30px;
  margin-left: 20px;
}

h3 {
  padding-top: 20px;
  margin-top: -20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.pure-table{
  width: 100%;
  background-color: white;
}

.pure-table > thead > tr > td {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #636363;
}


.npmBadge{
  background-color: #f5f5f5;
  padding: 5px 20px;
  float: right;
  margin-top: -20px;
  margin-right: -20px;
  font-size: 0.8rem;
  color: #717171;
  position: relative;
  font-weight: 600;
}

pre{
  background-color: white;
  padding: 10px 20px;
}

.centredContainer{
  margin: 100px 25%;
}

.centredContainer h3{
  margin-top: 30px;
}

.centredContainer code {
  display: block;
  background-color: white;
  padding: 0 20px;
}

.installTable{
  color: #656565;
  font-size: 0.95rem;
}

.installTable tr{
  line-height: 2rem;
}