button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }
}

.button.pill { margin-right: 10px; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Pygments Syntax Highlighting
------------------------------------------------------- */
pre .hll {
  background-color: #ffffcc; }

/* No Styling, Just Default:

  pre .nx, Normal Text
  pre .ni  Name.Entity
  pre .nf Name.Entity
  pre .no Name.Constant
*/
/* Comments */
pre .o,
pre .c,
pre .c1,
pre .cp,
pre .cm {
  color: #999;
  font-style: italic; }

pre .err {
  color: #F00000;
  background-color: #f0a0a0; }

/* Error */
pre .k {
  color: #404040;
  font-weight: bold; }

/* Keyword */
pre .css .k {
  font-weight: normal; }

pre .cs {
  color: #404040;
  font-style: italic; }

/* Comment.Special */
pre .gd {
  color: #A00000; }

/* Generic.Deleted */
pre .ge {
  font-style: italic; }

/* Generic.Emph */
pre .gs {
  font-weight: bold; }

/* Generic.Strong */
pre .gr {
  color: #FF0000; }

/* Generic.Error */
pre .gh {
  color: #000080; }

/* Generic.Heading */
pre .gi {
  color: #00A000; }

/* Generic.Inserted */
pre .go {
  color: #808080; }

/* Generic.Output */
pre .gp {
  color: #c65d09; }

/* Generic.Prompt */
pre .gu {
  color: #800080; }

/* Generic.Subheading */
pre .gt {
  color: #0040D0; }

/* Generic.Traceback */
pre .kc {
  color: #D24400; }

/* Keyword.Constant */
/* Keyword.Declaration
 * Keyword.Namespace
 * Keyword.Reserved */
pre .kd,
pre .kn,
pre .kr,
pre .nt {
  color: #0B5A91; }

/* Name.Tag */
/* Literal.Number */
pre .mh,
pre .mo,
pre .il,
pre .mi,
pre .kt,
pre .mf,
pre .nl,
pre .na,
pre .m {
  color: #0C9DC2; }

/* Keyword.Type */
pre .kp {
  color: #0080f0; }

/* Keyword.Pseudo */
pre .nc {
  color: #DF6637; }

/* Name.Class */
pre .css .nc {
  color: #75A21C; }

pre .nd {
  color: #505050; }

/* Name.Decorator */
pre .ne {
  color: #F00000; }

/* Name.Exception */
pre .nn {
  color: #0e84b5; }

/* Name.Namespace */
pre .nv {
  color: #003060; }

/* Name.Variable */
pre .ow {
  color: #404040; }

/* Operator.Word */
pre .w {
  color: #bbbbbb; }

/* Text.Whitespace */
pre .sc {
  color: #8080F0; }

/* Literal.String.Char */
pre .sd {
  color: #D04020; }

/* Literal.String.Doc */
/* Name.Builtin / Name.Builtin.Pseudo */
pre .bp,
pre .nb {
  color: #007020; }

/* Literal.String */
pre .s,
pre .sh,
pre .sb,
pre .s1,
pre .sr,
pre .se {
  color: #75A21C; }

pre .si {
  background-color: #eee; }

/* Literal.String.Interpol */
pre .p {
  color: #444444; }

/* Normal Text */
pre .ss {
  color: #f0c080; }

/* Literal.String.Symbol */
pre .vc {
  color: #c0c0f0; }

/* Name.Variable.Class */
pre .vg {
  color: #f08040; }

/* Name.Variable.Global */
pre .vi {
  color: #a0a0f0; }

/* Name.Variable.Instance */
body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fbfbfb; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h4 {
  font-size: 25px;
  font-style: italic;
  font-weight: normal; }

a {
  color: #00a000; }

a:hover {
  color: #000700; }

a:active, a.active {
  color: #4e4e4e; }

div.example-group {
  padding-bottom: 10px; }

strong.header {
  color: #00c800; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  section div.example-navigation {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    overflow: auto;
    height: 100%;
    float: bottom;
    bottom: 0px;
    position: fixed; }
    section div.example-navigation:last-child {
      margin-right: 0; }
  section div.content-space {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 2.35765%; }
    section div.content-space:last-child {
      margin-right: 0; }
    section div.content-space iframe.demo-frame {
      width: 100%;
      height: 350px; }

#copyright {
  font-size: 10;
  color: gray;
  padding-top: 30px; }

div.main-turf {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 25px;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.5; }
  div.main-turf .logo {
    margin-top: -20px; }
  div.main-turf div.description {
    padding-top: 30px; }
  div.main-turf div.turf-button-group {
    padding-top: 25px; }
    div.main-turf div.turf-button-group .button {
      color: #000;
      text-decoration: none;
      border: 3px solid #00c800;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      z-index: 1; }
    div.main-turf div.turf-button-group .button:hover {
      border: 3px solid #00a000; }
    div.main-turf div.turf-button-group .button.pill {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    div.main-turf div.turf-button-group .button.round:not(:first-child):not(:last-child), div.main-turf div.turf-button-group .button-group > .button.pill:not(:first-child):not(:last-child) {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
    div.main-turf div.turf-button-group .button.round:first-child, div.main-turf div.turf-button-group .button-group > .button.pill:first-child {
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    div.main-turf div.turf-button-group .button.round:last-child, div.main-turf div.turf-button-group .button-group > .button.pill:last-child {
      -webkit-border-top-left-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    div.main-turf div.turf-button-group .button + .button {
      margin-left: -9px; }
