---
examples:
  - id: geometry
    name: geometry
  - id: joins
    name: joins
  - id: data
    name: data
  - id: measurement
    name: measurement
  - id: interpolation
    name: interpolation
  - id: classification
    name: classification
  - id: aggregation
    name: aggregation
  - id: transformation
    name: transformation
  - id: misc
    name: misc
---
<html>

<head>
    <link rel='icon' type='image/ico' href='{{site.baseurl}}/favicon.ico'>
    <title>{{ page.title }} | Turf.js</title>
    <link href='{{site.baseurl}}/assets/css/main.css' rel='stylesheet' />
</head>
<section>
    <div class='example-navigation'>
        {% for example in page.examples %}
        <div class='example-group'>
            <strong class='header'>{{example.name}}</strong>
            {% for example_page in site.tags[example.id] order:ascending %}
            <br/>
            <a href='{{site.baseurl}}/{{example_page.url}}/' class='{% if example_page.title == page.title %}active{% endif %}'>{{example_page.title}}</a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class='content-space'>
        {{content}}
    </div>
</section>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50109310-1', 'rousseau.io');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
</html>
